<h1>Country Ranking</h1>

<table class= "grid">
  <tr class = "grid-row ">
      <th class = "cell">Rank</th>
      <th class = "cell">Country</th>
      <th class = "cell">Score</th>
      <th class = "cell">Gold</th>
      <th class = "cell">Silver</th>
      <th class = "cell">Bronze</th>
  </tr>

<% @game.country_ranking.each_with_index do |country, index | %>
  <tr class = "grid-row ">
  <td class = "cell"><%= "#{index +1 }"%> </td>

  <td class = "cell"><%= "#{country.name}"%> </td>
  <td class = "cell"><%="#{country.points}"%> </td>
  <td class = "cell"><%= "#{country.gold}"%> </td>
  <td class = "cell"> <%="#{country.silver}"%> </td> 
  <td class = "cell"> <%="#{country.bronze}"%> </td>
  </tr>
<%end %>
</table>
