<h1>Edit an athlete </h1>

<form action=" /athletes/<%= @athlete.id %>" method = "post">

<input class = "button" type= "submit" value="Delete Athlete"></button>
<input type="hidden" name="_method" value = "delete">
</form>

<form action = "/athletes/<%= @athlete.id %>" method = "post">

<label for= "name" >Name</label>
<input type="text" name="name" value="<%= @athlete.name %>">  

<label for= "sport_id" >Sport</label>
<input type="text" name="sport_id" value="<%= @athlete.sport_id %>">

<label for= "country_id" >Country</label>
<input type="text" name="country_id" value="<%= @athlete.country_id %>">

<input type="submit" value = "Send">
<input type="hidden" name="_method" value = "put">
</form>