<h1>Edit a participation </h1>

<form action = "/participations/<%= @participation.id %>" method = "post">

<label for= "athlete_id" >Athlete</label>
<input type="text" name="athlete_id" value="<%=@participation.athlete_id  %>">  

<label for= "event_id" >Event</label>
<input type="text" name="event_id" value="<%=@participation.event_id  %>">

<label for= "athlete_position" >Athlete position</label>
<input type="number" name="athlete_position" value="<%=@participation.athlete_position  %>">

<label for= "game_id" >Game</label>
<input type="number" name="game_id" value="<%=@participation.game_id  %>">

<input type="submit" value = "Send">
<input type="hidden" name="_method" value = "put">

</form>